.App {
  /* text-align: center; */
}

.App-header {
  background-color: #132853;
  text-align: center;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#learnosity_assess {
  margin-top: 20px;
}

.lrn_mcq {
  margin: 40px 0;
}

.lrn {
  color: blueviolet;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lrn-label {
  color: blueviolet;
  font-weight: bold;
}
